* text=auto

*.yml text eol=lf
*.yaml text eol=lf
*.ini text eol=lf
*.cfg text eol=lf
*.j2 text eol=lf
*.sh text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.log text eol=lf
*.svg text eol=lf

*.png binary
